{% extends 'base.html' %}
{% block head %}
    <title>Listagem de Compras</title>
{% end %}
{% block body %}
    {% if compras %}
        <h3>Compras</h3>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Preco</td>
                <td>Comprador</td>
                <td>Cancelar</td>
            </tr>
            {% for compra in compras %}
            <tr>
                <td>{{ compra[0] }}</td>
                <td>{{ compra[1] }}</td>
                <td>{{ compra[2] }}</td>
                <td>{{ compra[3] }}</td>

                    <td><a class="btn btn-danger" href="/compra/cancel/{{ compra[0] }}">Cancelar</a></td>

            </tr>
            {% end %}
        </table>
    {% else %}
        <h3>Ainda não existem compras cadastradas</h3>
    {% end %}
    <div>
        <h3><a class="btn btn-primary" href="/compra/nova">Adicionar Compra</a></h3>
    </div>
{% end %}